<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="ui container">

  <div class="ui huge header">
      <h1>NCAA Challenge</h1>
  </div>



    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h1 class="ui red image header">
          <div class="content">
            Add Local Account
          </div>
        </h1>
        <form class="ui large form" action="/connect/local" method="post">
          <div class="ui stacked segment">
            <div class="field form-group">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" class="form-control" name="email" placeholder="E-mail address">
              </div>
            </div>
            <div class="field form-group">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
            </div>
            <button class="ui fluid large red submit button" type="submit">Add local</button>
          </div>

          <div class="ui error message"></div>

        </form>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="ui message">
          <p>Go back to my <a href="/accounts">Accounts</a></p>
        </div>

      </div>
    </div>

</div>
</div>
</body>
</html>
