<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="ui container">

    <div class="page-header text-center">
        <h1 id="profile">Hello, <%= user.facebook.name %>!</h1>
        <a href="/logout" class="ui button">Logout</a>
        <a href="/" class="ui button">Home</a>
        <a href="/accounts" class="ui button">Edit account</a>
    </div>

    <div class="ui middle aligned center aligned grid">
        <div class="nine wide column">
            <% if (user.picks.length) { %>
                <% for (var i=0; i<user.picks.length; i++) { %>

                    <h3><%= user.picks[i].team %></h3>
                    <p><%= user.picks[i].score %></p>
                <% } %>
            <% } %>
        </div>
        <div class="two wide column">
            <p>win loss</p>
        </div>
    </div>



</div>
</body>
</html>
