@import url(https://fonts.googleapis.com/css?family=Nobile:700|Kanit|Raleway|Lato);

body {
  padding: 50px;
  font: 15px "Kanit", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Nobile", sans-serif;
  color: #081577;
  font-size: 1.75em;
}

.ui.button {
  background-color: #3D3D3D;
  color: white;
  font-family: "Kanit", Helvetica;
}

.ui.button.login, .ui.button.signup {
  background-color: #D90429;
  color: white;
}

.ui.button.profile, .ui.button.logout {
  background-color: #3D3D3D;
  color: white;
}

a {
  color: #00B7FF;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 500px;
}

.ui.card {
  margin: 0 auto;
  margin-bottom: 5%;
}

.ui.grid>[class*="six wide"].column {
  width: 350px !important;
}

.games {
  margin: 5% !important;
  text-align: center;
  background-color: #D6D6D6 !important;
}

.score {
  font-size: 25px;
  color: #09198E;
}

.gamehead {
  font-size: 22px !important;
}

.notbold {
  font-weight: 300;
}

.ui.middle {
  margin-top: 5%;
  margin-bottom: 5%;
}

.time {
  font-size: 16px;
  color: #D90429;
}

.extra.content {
  background-color: white !important;
}

.extra.content>button {
  margin-top: 2%;
}

.selected {
  background-color: red !important;
  color: white !important;
}

#profile {
  font-family: Raleway;
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 2%;
}
